<div class="container">
  <h2 class="py-4 text-black-50">News</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-5 text-center" *ngFor="let i of news">
        <div class="card-header"><h4>{{ i.title }}</h4></div>
        <div class="card-body">
          <h5 class="card-title">{{ i.source }}</h5>
          <img
            src="{{ i.thumbnail_standard }}"
            class="card-img-top mb-3 rounded"
            alt="..."
          />
          <p class="card-text">
            {{ i.byline }}
          </p>
          <h5 class="card-title">{{ i.abstract }}</h5>
          <a href="{{ i.url }}" class="btn btn-primary">Read More...</a>
        </div>
        <div class="card-footer text-muted">
          {{i.updated_date | date}}
        </div>
      </div>
    </div>
  </div>
</div>
